<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>DEFAULT ADMIN PAGE</title>
</head>
<body>

<h1 layout:fragment="header">Init Page</h1>
<div layout:fragment="content">

    <p>Do init things</p> <a th:href="@{/admin/logout}" class="btn btn-primary pull-right">Logout</a>

    <th:block th:each="entry: ${experimentList}">
        <div class="admin_experiemnt_row">
       <p th:text="'Experiement : ' + ${entry}"></p>
        <a th:href="@{/admin/createPlants}" class="btn btn-default confirm-required"
           data-confirm-message="Plants must be deleted first if previously initialised">Init plants</a>
        <a th:href="@{/admin/deletePlants}" class="btn btn-default confirm-required"
           data-confirm-message="This will delete all plants, continue?">Delete plants</a>
        <a th:href="@{/admin/dataImport}" class="btn btn-default">Init data</a>
        <a th:href="@{/admin/resetData}" class="btn btn-default confirm-required"
           data-confirm-message="This will delete all meta data, continue?">Delete data</a>
        </div>
    </th:block>

    <!--<form action="#" th:action="@{/admin/createPlants}" >-->
        <!--<input type="submit" value="initialise plants" />-->
    <!--</form>-->



</div>
</body>
</html>