/*.plant_image{*/
    /*padding: 15px;*/
/*}*/

.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
    width : 100%;
}


.plant_day_container{

    padding-bottom: 15px;
    border-top: 2px solid olivedrab ;

}


.plant_row{

    padding-bottom: 15px;
    border-top: 2px solid olivedrab ;

}


.attribs_div{
    width: 100%;
}


.graphDiv{
    height:500px;
    width:500px;
}

.admin_experiemnt_row{
    padding-bottom: 15px;
    border-top: 2px solid olivedrab ;
}

.login_form{
    width: 320px;
    margin: 0 auto;
}