.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
    width : 100%;
}

.plant_day_container{
    padding-bottom: 15px;
    border-top: 2px solid olivedrab ;
}


.plant_row ,.admin_experiment_row{
    padding-bottom: 15px;
    border-top: 2px solid olivedrab ;
}

.home_experiment_row{
    padding-bottom: 15px;
    border-top: 2px solid olivedrab ;
    border-bottom: 2px solid olivedrab ;

}

.home_experiment_row:hover{

    background-color: #c0c0c0;

}

.attribs_div{
    width: 100%;
}


.graphDiv{
    height:500px;
    width:500px;
}

.login_form{
    width: 320px;
    margin: 0 auto;
}

a.disabled{
    pointer-events: none;
    cursor: default;
    color: #8c8c8c;
}
