<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body>


<div th:fragment="dayTagFragment">
    <span th:each="plantDayTag,status : ${plantDay.getTags()}">
        <a th:href="'/tags/'+${plantDayTag.getTagContent()}"  th:text="${plantDayTag.getTagContent()}" class="tag_text" />
    </span>
</div>


<div th:fragment="plantTagFragment">
    <span th:each="plantTag,status : ${plant.getTags()}">
        <a th:href="'/tags/'+${plantTag.getTagContent()}"  th:text="${plantTag.getTagContent()}" class="tag_text" />
    </span>
</div>


<div th:fragment="dayAttribFragment">
    <div th:if="${plantDay.getPlantDayMetaData() != null}">
        <table class="table">
            <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="entry: ${plantDay.getPlantDayMetaData().getDataAttributes()}">
                <tr>
                    <td th:text="${entry.key}"></td>
                    <td th:text="${entry.value}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

<div th:fragment="plantAttribFragment">
    <div th:if="${plant.getPlantMetaData() != null}">
        <table class="table">
            <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="entry: ${plant.getPlantMetaData().getDataAttributes()}">
                <tr>
                    <td th:text="${entry.key}"></td>
                    <td th:text="${entry.value}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>