<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body>

<div th:fragment="paginationFragment" class="row">

    <p th:text="'current page is ' + ${currentPage}" />

    <ul class="pagination_pages list-inline">
        <li><a th:href="'?page='+${currentPage-1}+'&amp;size='+${currentSize}" th:if="${currentPage > 1}">Previous</a></li>
        <li><a th:href="'?page=1'+'&amp;size='+${currentSize}">First</a></li>
        <li><a th:href="'?page='+${lastPage}+'&amp;size='+${currentSize}">Last</a></li>
        <li><a th:href="'?page='+${currentPage+1}+'&amp;size='+${currentSize}" th:if="${lastPage > currentPage }">Next</a></li>
    </ul>

    <ul class="pagination_sizes list-inline">
        <li><a th:href="'?page=1&amp;size=10'">10</a></li>
        <li><a th:href="'?page=1&amp;size=25'">25</a></li>
        <li><a th:href="'?page=1&amp;size=50'">50</a></li>
        <li><a th:href="'?page=1&amp;size=100'">100</a></li>
        <li><a th:href="'?page=1&amp;size='+${totalElements}">All</a></li>

    </ul>


</div>

<div th:fragment="dayTagFragment">
    <span th:each="plantDayTag,status : ${plantDay.getTags()}">
        <a th:href="'/tags/'+${plantDayTag.getTagContent()}"  th:text="${plantDayTag.getTagContent()}" class="tag_text" />
    </span>
</div>


<div th:fragment="plantTagFragment">
    <span th:each="plantTag,status : ${plant.getTags()}">
        <a th:href="'/tags/'+${plantTag.getTagContent()}"  th:text="${plantTag.getTagContent()}" class="tag_text" />
    </span>
</div>


<div th:fragment="dayAttribFragment">
    <div th:if="${plantDay.getMetadata() != null}">
        <table class="table">
            <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="entry: ${plantDay.getMetadata().getDataAttributes()}">
                <tr>
                    <td th:text="${entry.key}"></td>
                    <td th:text="${entry.value}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>

<div th:fragment="plantAttribFragment">
    <div th:if="${plant.getPlantMetaData() != null}">
        <table class="table">
            <thead>
            <tr>
                <th>Key</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="entry: ${plant.getPlantMetaData().getDataAttributes()}">
                <tr>
                    <td th:text="${entry.key}"></td>
                    <td th:text="${entry.value}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>