<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body>


<div th:fragment="tagFragment">
    <span th:each="plantDayTag,status : ${plantDay.getTags()}"
          th:text="${plantDayTag.getTagContent()}" class="tag_text" >
    </span>
</div>


<div th:fragment="attribFragment">
    <p th:each="entry: ${plantDay.getPlantDayMetaData().getDataAttributes()}">
        <span th:text="'Key: ' + ${entry.key} + ', Value: ' + ${entry.value}"></span>
    </p>
</div>

</body>
</html>