<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>

    <script src="/js/carousel.js"></script>
    <script src="/js/plantDetails.js"></script>

    <title>Plant Detail Page</title>
</head>
<body>

<h1 layout:fragment="header">Plant Detail</h1>
<div layout:fragment="content" th:unless="${plant == null}">
    <p th:text="'This is the detail page for ' + ${plant.getBarCode()}" />
    <p th:text="'There are '  + ${plant.getPlantDays().size()} + ' days recorded for this plant'"/>
    <div th:each="plantDay,status : ${plant.getPlantDays()}" th:class="'plant_day_container container'">

        <p th:text="'There are ' + ${plantDay.getPlantImages().size()} + ' images associated with  ' + ${plantDay.getDate()} "/>

        <div class="col-xs-6">

            <div th:id="'carousel'+${status.index}" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                    <div th:each="image,statusInner : ${plantDay.getPlantImages()}" th:class="${statusInner.index == 0}? 'item active' : 'item'">
                        <img th:src="'/images/' + ${image.getFilePath()}" />
                    </div>
                </div>
                <!-- Carousel controls -->
                <a class="carousel-control left" th:href="'#carousel'+${status.index}" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="carousel-control right" th:href="'#carousel'+${status.index}" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>

        </div>
        <div class="col-xs-6">
            <div  th:id="'plant_day_tags'+${plantDay.getId()}" th:class="'plant_day_tags container'">

    <!--<span th:each="plantDayTag,status : ${plantDay.getTags()}" th:text="${plantDayTag.getTagContent()}" class="tag_text" ></span>-->
   <div th:replace="plants/tagFragment :: tagFragment"   ></div>
            </div>

            <form>
                <div class="form-group">
                    <input type="hidden" name="plantDayID" th:value="${plantDay.getId()}" />
                    <input type="text" required="required" pattern="[A-Za-z0-9 ]{1,20}" class="form-control" name="tagContent" placeholder="Add tag " />
                    <button  class="add_tag_btn btn btn-default">Add tag</button>
                </div>
            </form>
        </div>

    </div>

</div>
</body>
</html>