<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Plants Page</title>
    <script src="/js/plantsPage.js"></script>
</head>
<body>

<h1 layout:fragment="header">Plants</h1>
<div layout:fragment="content">

  <div th:replace="plants/plantFragments :: paginationFragment"></div>

    <p th:text="'There are ' + ${plantList.getTotalElements()} + ' plants in this experiment :'" ></p>
    <div th:each="plant,status : ${plantList}" class="row plant_row">
        <div class="col-xs-6">

            <h3 th:text="${plant.getBarCode()}"/>
            <a th:href="@{plants/{path}(path=${plant.getBarCode()})}" class="plant_detail_link btn-default btn">View Images</a>
            <a th:href="'/graphs/byPlant/'+${plant.getBarCode()}" class="btn btn-default">View Graphs</a>

        </div>

        <div class="col-xs-6 plant_input_column">
            <div  th:id="'plant_tags'+${plant.getId()}" th:class="'plant_tags container'">
                <div th:replace="plants/plantFragments :: plantTagFragment"   ></div>
            </div>

            <form th:action="@{plants/addPlantTag}" th:object="${plantTagInfo}" class="plant_tag_form form-horizontal">
                <!--<div class="form-group" >-->
                    <input type="hidden" name="plantID" th:value="${plant.getId()}" />
                    <input type="text" required="required" pattern="[A-Za-z0-9 ]{1,20}"
                           name="tagContent" placeholder="Add tag " title="Alphanumeric"/>
                    <input type="submit" value="Tag" />
                <!--</div>-->
            </form>



            <div  th:id="'plant_attribs'+${plant.getId()}" th:class="'plant_attribs  attribs_div container'">
                <div th:replace="plants/plantFragments :: plantAttribFragment"   ></div>
            </div>

            <form th:action="@{plants/addPlantAttribute}" th:object="${plantAttributeInfo}" class="plant_attrib_form form-horizontal">
                <!--<div class="form-group">-->
                    <input type="hidden" name="plantID" th:value="${plant.getId()}" />
                    <input  type="text" required="required"  pattern="[A-Za-z0-9\-\/ ]{1,20}" class=" attrib_key_edit"
                            name="attribName" placeholder="Add attribute name"
                            title="Alphanumeric with - and /"/>
                    <input  type="text" required="required" pattern="[A-Za-z0-9\-\/ ]{1,20}" class=" attrib_val_edit"
                            name="attribVal" placeholder="Add attribute value"
                            title="Alphanumeric with - and /"/>
                    <input type="submit" value="Add Attribute" />
                <!--</div>-->
            </form>
        </div>
    </div>

    <div th:replace="plants/plantFragments :: paginationFragment"></div>

</div>
</body>
</html>