<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <script src="/js/plotly-latest.min.js"></script>
    <script src="/js/plotlytest.js"></script>

    <title>Plants Page</title>
</head>
<body>

<h1 layout:fragment="header">Plants</h1>
<div layout:fragment="content">

    <p th:text="'There are ' + ${plantList.size()} + ' plants in the system :'" ></p>
    <div th:each="plant,status : ${plantList}" class="row plant_row">
        <div class="col-xs-6">
            <span>
            <h3 th:text="${plant.getBarCode()}"/>
            <a th:href="@{plants/{path}(path=${plant.getBarCode()})}" class="plant_detail_link btn-default btn">View Images</a>
       </span>
        </div>
        <div class="col-xs-6">
            <p>Some text and stuff tags on a per-plant level here plox</p>
            <a th:href="'/graphs/byPlant/'+${plant.getBarCode()}" class="btn btn-default">View Graphs</a>
            <div th:id="'plotlyTest'+${plant.getBarCode()}"></div>
        </div>

    </div>
</div>
</body>
</html>