<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>DEFAULT HOME PAGE</title>
</head>
<body>

<h1 layout:fragment="header">Home Page</h1>
<div layout:fragment="content">


    <h4>Select from available experiments:</h4>
    <th:block th:each="entry: ${experimentList}">

        <div class="experiment_row">
            <a th:href="'/setSessionExperiment/'+${entry.getExperimentCode()}" th:text="${entry.getExperimentCode()}"></a>
        </div>
    </th:block>

</div>
</body>
</html>