<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Home</title>
</head>
<body>

<h1 layout:fragment="header">Nppc Experiment Visualiser</h1>
<div layout:fragment="content">


    <th:block th:if="${experimentList.size() > 0}">
        <h4>Select from available experiments:</h4>

        <div class="home_experiment_link_div" th:each="entry: ${experimentList}">
            <a th:href="'/setSessionExperiment/'+${entry.getExperimentCode()}">
                <div class="home_experiment_row">
                    <h3 th:text="${entry.getExperimentCode()}"></h3>
                </div>
            </a>

        </div>
    </th:block>

    <div th:if="${experimentList.size() == 0}">

        <p> Experiment list empty, please contact the administrator</p>

    </div>

</div>
</body>
</html>