<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <script src="/js/plotly-latest.min.js"></script>
    <script src="/js/graphDisplay.js"></script>


    <title>Plant Graphs Page</title>
</head>
<body>

<h1 layout:fragment="header">Graphs</h1>
<div layout:fragment="content">

    <p th:text="'Graphs for plant '+${plant.getBarCode()}+' can be constucted from the following attributes :'" />
    <div th:each="attrib,status : ${attribs}" class="row plant_row">
        <div class="col-xs-6">
        <p th:text="${attrib}"/> <span class="make_graph btn btn-default">Create Graph</span>
        </div>
        <!--<p th:text="${attrib}"/> <a th:href="@{${plant.getBarCode()} + '/fromData/' + ${attrib} + '/date'}" class="make_graph btn btn-default">Create Graph</a>-->
        <div th:id="${attrib}" class="col-xs-6">Graph</div>
    </div>

</div>
</body>
</html>