<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body>


<div th:fragment="graphClickResult">

    <h5>Click graph nodes to select matching plants</h5>

    <th:block th:if="${results}">
        <p th:text="'Number of results : ' + ${results.size()}"></p>
        <div class="home_experiment_link_div" th:each="res: ${results}">

            <a th:href="'/plants/'+${res.getBarCode()}">
                <div class="home_experiment_row">
                    <h3 th:text="${res.getBarCode()}"/>
                </div>
            </a>
        </div>
    </th:block>
</div>



</body>
</html>