<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <script src="/js/plotly-latest.min.js"></script>
    <script src="/js/graphDisplay.js"></script>
    <title>Graphs Page</title>
</head>
<body>

<h1 layout:fragment="header">Graphs</h1>
<div layout:fragment="content">

    <div class="row">

        <div class="col-xs-3">

            <form th:action="@{graphs/create}" th:object="${graphCreationInfo}" class="graph_create_form">

                <div class="form-group">

                    <label for="graph_axis_X">Select X axis attribute :</label>
                    <select class="form-control" id="graph_axis_X" th:field="*{xAxisAttribute}">
                        <option th:each="attrib : ${availableAttribs}"
                                th:value="${attrib}"
                                th:text="${attrib}">Test
                        </option>
                    </select>

                </div>

                <div class="form-group">
                    <label for="graph_axis_Y">Select Y axis attribute :</label>
                    <select class="form-control" id="graph_axis_Y" th:field="*{yAxisAttribute}">
                        <option th:each="attrib : ${availableAttribs}"
                                th:value="${attrib}"
                                th:text="${attrib}">Test
                        </option>
                    </select>

                </div>
                <div>
                    <label>
                        <input type="radio" name="plotType" value="Scatter" checked="true"/>
                        Scatter
                    </label>
                    <label>
                        <input type="radio" name="plotType" value="Box"/>
                        Box
                    </label>
                </div>
                <a href="#" id="axis-swap" class="btn btn-default">Swap axis</a>
                <input type="submit" class="btn btn-default" value="Create Graph"/>
            </form>
            <!--<th:block th:each="attrib,status : ${availableAttribs}">-->
            <!--<p th:text="${attrib}"></p>-->
            <!--</th:block>-->

        </div>
        <div class="col-xs-9">
            <div id="mainGraph"></div>
        </div>

    </div>



    <div th:id="graph_result_div" th:class="'graph_results container'">
        <div th:replace="graphs/graphPageFragments :: graphClickResult"   ></div>
    </div>

</div>
</body>
</html>