<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>DEFAULT INIT PAGE</title>
</head>
<body>

<h1 layout:fragment="header">Init Page</h1>
<div layout:fragment="content">

    <p>Do init things</p>

    <!--<form action="#" th:action="@{/init/createPlants}" >-->
        <!--<input type="submit" value="initialise plants" />-->
    <!--</form>-->
<a th:href="@{/init/createPlants}" class="btn btn-default confirm-required"
   data-confirm-message="Plants must be deleted first if previously initialised">Init plants</a>
<a th:href="@{/init/deletePlants}" class="btn btn-default confirm-required"
   data-confirm-message="This will delete all plants, continue?">Delete plants</a>
<a th:href="@{/init/dataImport}" class="btn btn-default">Init data</a>
<a th:href="@{/init/resetData}" class="btn btn-default confirm-required"
   data-confirm-message="This will delete all meta data, continue?">">Delete data</a>
<a th:href="@{/init/logout}" class="btn btn-primary pull-right">Logout</a>

</div>
</body>
</html>